$default-articles-padding-small: 3rem;
$default-articles-padding: 6rem;
$max-section-width: 50rem;

.home-page article {
  padding-top: $default-articles-padding-small;
  padding-bottom: $default-articles-padding-small;

  @media screen and (min-width: breakpoint('tablet')) {
    padding-top: $default-articles-padding;
    padding-bottom: $default-articles-padding;
  }
}

.home__intro {
  color: palette('white');

  background-color: palette('gray', 'dark');
  background-image: url('../assets/images/backgrounds/bg-textura-1200w.png');
  background-position: center -320px;
  background-size: auto;

  @media screen and (min-width: breakpoint('tablet')) {
    background-position: center -250px;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    background-position: right -250px;
  }
}

.home-page .container > * {
  max-width: $max-section-width;
  margin-right: 0;
  margin-left: auto;
}

.home__intro p,
.home__intro ul,
.home__intro h2 {
  max-width: $max-section-width;
  margin-right: 0;
  margin-left: auto;
}

.home__intro .bigger-text {
  display: block;
}

.home__intro p {
  margin-bottom: $leading * 0.5rem;
}

.home__intro h2 {
  max-width: 100%;

  font-size: ms(2);
  line-height: 1;
  color: inherit;
  text-transform: uppercase;

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(4);
  }

  @media screen and (min-width: breakpoint('tablet')) {
    font-size: ms(6);
  }
}

.home__donate {
  position: relative;

  color: palette('white');

  background-color: palette('green', 'light');
  background-image: url('../assets/images/backgrounds/bg-doacao--320w.jpg');
  background-repeat: repeat;
  background-position: center top;

  @media screen and (min-width: 480px) {
    background-image: url('../assets/images/backgrounds/bg-doacao--640w.jpg');
  }

  @media screen and (min-width: 640px) {
    background-image: url('../assets/images/backgrounds/bg-doacao--960w.jpg');
  }

  @media screen and (min-width: 960px) {
    background-image: url('../assets/images/backgrounds/bg-doacao--1280w.jpg');
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../assets/images/backgrounds/bg-doacao.jpg');
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    content: '';

    background-color: currentcolor;
  }

  > * {
    position: relative;
  }
}

.subtitle {
  padding-right: 0.9375rem;

  font-size: ms(-1);
  color: palette('white');
}

.subtitle a {
  color: palette('white');

  &:hover {
    color: palette('gray', 'dark');
  }
}

.home__donate h2 strong {
  padding: $gutter * 0.5;

  background-color: palette('gray', 'dark');
  border-radius: $rounded-corner;

  @media (max-width: 490px) {
    display: inline-block;

    padding: $gutter * 0.4;

    font-size: ms(4);
    white-space: nowrap;
  }

  @media (max-width: 320px) {
    padding: $gutter * 0.2;
  }
}

.home__donate .donation-form {
  max-width: 100%;
}

.home__donate .donation-form .content {
  display: flex;

  flex-wrap: wrap;
}

.home__donate .donation-form h2 {
  flex-basis: 100%;
}

.home__donate .donation-form form {
  max-width: $max-width--short;
  margin-right: auto;
  margin-left: auto;
}

.home__donate .donation-form .donation-intro {
  max-width: #{$max-width - $max-width--short};
  margin-right: auto;
  margin-left: 0;
}

.home__donate .donation-form .donation-intro + form {
  // margin-right: 0;
}

.donation-nav[class] {
  display: block;

  margin-top: $leading * 1rem;
  margin-right: 0;
  margin-bottom: $leading * 1rem;

  font-weight: 800;
  color: palette('gray', 'dark');
  text-decoration: underline;
  text-transform: lowercase;

  background: none;

  @include link-undercover {
    color: palette('gray', 'dark');
    text-decoration: underline;
  }

  &:hover {
    color: palette('gray', 'light');
  }
}

.donation-nav--rewind[class] {
  &::before {
    content: '< ';
  }
}

.donation-nav--forward[class] {
  float: right;
  margin-top: 0;
  margin-bottom: 0;

  font-size: ms(1);
  color: palette('gray', 'dark');
  text-decoration: underline;

  &::before {
    content: '> ';
  }
}

.home__donate ul {
  padding: 0;
  margin-bottom: $leading * 1rem;
  clear: both;

  font-size: ms(1);
  font-weight: 800;

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(2);
  }
}

.head_steps {
  margin-bottom: 0;
}

.home__donate li {
  position: relative;

  display: none;

  margin-right: 2em;

  &::before {
    content: none;
  }
}

.home__donate li.active {
  display: block;

  font-size: ms(0);

  &::before {
    // content: '\2022';
    position: absolute;
    top: -1em;
    left: 50%;

    width: 1em;
    margin-left: -0.5em;

    text-align: center;
  }
}

#home__knowMore img {
  width: 100%;
}

#home__knowMore figcaption {
  display: none;
}

#home__donors {
  $bg: palette('gray', 'light');

  background-color: $bg;
}

.home__knowMore {
  position: relative;

  background-color: transparent;

  &[class] {
    padding-bottom: 60%;
  }

  @media screen and (min-width: 1024px) {
    &[class] {
      padding-bottom: 560px;
    }
  }

  @media screen and (min-width: 1280px) {
    &[class] {
      padding-bottom: 480px;
    }
  }

  @media screen and (min-width: 1500px) {
    &[class] {
      padding-bottom: 420px;
    }
  }

  @media screen and (min-width: 1680px) {
    &[class] {
      padding-bottom: $default-articles-padding;
    }
  }
}

.knowMore__image.knowMore__image img {
  $bg: #f1f1f1;

  @include img-as-bg;

  z-index: -1;

  background-color: $bg;
  object-fit: contain;
  object-position: center bottom;
}

.italic-text {
  font-style: italic;
}

.bigger-text {
  font-size: ms(1);
  font-weight: 800;
}

.goal-description {
}

.goal-description h3 {
  position: relative;
}

@media screen and (min-width: ($max-section-width + $gutter * 3)) {
  .goal-description svg {
    position: absolute;
    left: -1.5em;
  }
}

.goal-description--reached {
  color: palette('gray');
}

.goal-description--reached h3 {
  color: inherit;
}
