.candidate-footer {
  padding: 24px;

  text-align: center;
  text-transform: uppercase;

  color: #8500b4;
}

.candidate-footer p {
  margin-bottom: 0;

  &:first-of-type {
    padding-top: 12px;

    border-top: 2px solid currentColor;
  }
}

.candidate-footer abbr {
  letter-spacing: normal;

  text-decoration: none;
}

.candidate-footer__logo {
  display: block;

  width: auto;
  max-width: 200px;

  margin: 0 auto 24px auto;
}

.candidate-footer__cnpj {
  font-size: smaller;

  color: black;
}

.site-footer {
  color: palette('white');

  background-color: palette('blue');
}

.footer-container {
  max-width: $max-width;

  padding-top: 6rem;
  padding-right: $gutter;
  padding-bottom: 6rem;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
}

.wrap-logo {
  margin-bottom: $leading * 1em;
}


.wrap-logo a {
  display: block;

  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.votolegal-logo {
  width: 171px;
  height: 49px;

  background: url('../assets/images/icons/votolegal-white.png');
  background-repeat: no-repeat;
}

.site-footer__copyright {
  font-size: 0.98em;

  text-align: center;

  color: rgb(255, 255, 255);

  & a {
    color: rgb(255, 255, 255);
  }
}

.site-footer .psol[class] {
  max-width: 50rem;

  margin-right: auto;
  margin-bottom: $leading * 3rem;
  margin-left: auto;

  @media screen and (min-width: breakpoint('desktop')) {
    float: left;
  }
}

.site-footer .psol a {
  @include image-replacement;

  display: block;

  min-width: 213px;
  min-height: 39px;

  background-image: url('../assets/images/icons/logo__slogan.svg');
  background-position: 50% 50%;
}
