@use 'sass:math';

.site-header {
  position: relative;

  display: flex;

  flex-direction: column;

  color: palette('white');

  background-color: palette('gray', 'dark');
  background-position: right bottom;


  @media screen and (min-width: breakpoint('phablet')) {
    min-height: 620px;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    background-position: right bottom, 0 0;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    min-height: 680px;

    background-position: right bottom, 0 0;
  }
}

.header-container {
  max-width: $max-width;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
}

#home__greetings {
  width: 100%;
  margin-top: auto;

  margin-bottom: auto;

  text-align: center;
}

.site-label {
  padding: ($leading * 0.5em) 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 836px;

    text-align: right;
  }
}

.site-label h1,
.site-label h2 {
  padding: 0;
  margin: 0;

  font-family: Montserrat, sans-serif;
  font-weight: 800;
  line-height: 1;
  color: palette('white');
  text-align: center;
}

.site-label h1 {
  $stroke: 3px;

  font-size: ms(3);
  text-transform: uppercase;
  letter-spacing: -3px;

  &:first-child strong,
  &:first-child span {
    font-weight: font-weight('text');

    @media screen and (min-width: breakpoint('tablet')) {
    }

    @media screen and (min-width: breakpoint('wide')) {
    }
  }

  &:nth-child(2) strong,
  &:nth-child(2) span {
    display: block;

    font-size: 1.2em;
    font-weight: 900;
    color: palette('header', 'yellow');
  }

  @media screen and(min-width: breakpoint('phablet')) {
    font-size: 2.7em;
  }

  @media screen and(min-width: breakpoint('tablet')) {
    font-size: ms(6);
  }
}

.site-label h2 {
  max-width: 13.5em;
  margin-top: $leading * 0.5em;
  margin-right: auto;
  margin-bottom: $leading * 0.5em;
  margin-left: auto;

  font-size: ms(1);

  @media screen and(min-width: breakpoint('phablet')) {
    font-size: ms(2);
  }

  @media screen and(min-width: breakpoint('desktop')) {
    font-size: ms(3);
  }

  strong,
  span {
    color: palette('header', 'yellow');
  }
}

.site-label .call-to-action {
  position: relative;
  z-index: 2;

  display: block;

  padding-right: $gutter;
  padding-left: $gutter;

  font-family: Montserrat, sans-serif;
  font-size: ms(3);
  font-weight: bold;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  text-transform: lowercase;

  @media screen and (min-width: breakpoint('tablet')) {
    font-size: ms(4);
  }

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(5);
  }

  span {
    font-weight: 900;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  /* This way it could be display flex or grid or whatever also. */

  display: block;
  /* Probably need media queries here */

  width: 100%;
  max-width: 800px;
  height: auto;
  max-height: 100%;
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: palette('white');
  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  /* Use this for centering if unknown width/height */

  transform: translate(-50%, -50%);
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

.modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;

  width: 1em;
  padding: 0.1em;

  font-size: 1.3rem;
  line-height: 1;
  color: palette('white');
  text-align: center;

  background: palette('black');
  border: 0;
}

#video a:link,
#video a:hover,
#video a {
  text-decoration: none;
}

.play-button {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;

  display: block;

  padding-top: $leading * 0.5em;
  padding-right: $gutter * 0.5;
  padding-bottom: $leading * 0.5em;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;

  font-size: ms(-1);
  font-weight: font-weight('heading');
  color: palette('white');
  text-transform: uppercase;
  white-space: nowrap;

  background-color: palette('purple', 'dark');
  background-image: url('../assets/images/icons/play-video.png');
  background-position: 1em 45%;
  border: 0;

  transform: translate(-50%, -50%);

  &:hover,
  &:focus {
    background-color: palette('orange', 'dark');
  }

  &:active {
    background-color: palette('purple', 'x-dark');
  }
}
