.site-header {
  position: relative;

  height: 70vh;
  min-height: 480px;

  color: palette('white');

  background-image: url('../assets/images/backgrounds/capa-fundo-very-small.jpg');
  background-position: left bottom;
  background-size: 100% auto;
  background-color: palette('gray', 'dark');

  @media screen and (min-width: breakpoint('phablet')) {
    min-height: 620px;

    background-image: url('../assets/images/backgrounds/capa-boulos_sonia-small.png'), url('../assets/images/backgrounds/capa-fundo-small.jpg');
    background-position: left bottom, 0 0;
    background-size: 550px auto, cover;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    background-image: url('../assets/images/backgrounds/capa-boulos_sonia-medium.png'), url('../assets/images/backgrounds/capa-fundo-medium.jpg');
    background-position: left bottom, 0 0;
    background-size: 680px auto, cover;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    min-height: 680px;

    background-image: url('../assets/images/backgrounds/capa-boulos_sonia.png'), url('../assets/images/backgrounds/capa-fundo.jpg');
    background-position: left bottom, 0 0;
    background-size: 750px auto, cover;
  }

  @media screen and (min-width: breakpoint('wide')) {
    background-image: url('../assets/images/backgrounds/capa-boulos_sonia_maior.png'), url('../assets/images/backgrounds/capa-fundo.jpg');
    background-position: left bottom, 0 0;
    background-size: 750px auto, cover;
  }
}

.header-container {
  max-width: $max-width;

  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
}

#home__greetings {
  position: absolute;
  top: 20%;

  width: 100%;

  text-align: center;

  @media screen and (min-width: breakpoint('desktop')) {
    top: 13%;
  }
}

.site-label {
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 760px;

    text-align: right;
  }

  @media screen and (min-width: breakpoint('wide')) {
    max-width: 1000px;
  }
}

.site-label h1,
.site-label h2 {
  padding: 0;
  margin: 0;

  font-weight: 800;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;

  text-align: center;

  color: palette('white');
}

.site-label h1 {
  $stroke: 3px;

  font-size: ms(3);
  letter-spacing: -3px;

  text-transform: uppercase;

  &:first-child span {
    color: transparent;

    -webkit-text-stroke-width: $stroke / 3;
    -webkit-text-stroke-color: palette('header', 'white');

    @media screen and (min-width: breakpoint('tablet')) {
      -webkit-text-stroke-width: $stroke / 2;
    }

    @media screen and (min-width: breakpoint('wide')) {
      -webkit-text-stroke-width: $stroke;
    }
  }

  &:nth-child(2) span {
    font-weight: 900;
    font-size: 1.2em;

    color: palette('header', 'yellow');
  }

  @media screen and(min-width: breakpoint('phablet')) {
    font-size: 2.7em;
  }

  @media screen and(min-width: breakpoint('tablet')) {
    font-size: ms(6);
  }

  @media screen and(min-width: breakpoint('wide')) {
    font-size: ms(8);
  }
}

.site-label h2 {
  max-width: 90%;

  margin-right: auto;
  margin-left: auto;

  font-size: ms(1);

  @media screen and(min-width: breakpoint('phablet')) {
    font-size: ms(2);
  }

  @media screen and(min-width: breakpoint('desktop')) {
    font-size: ms(3);
  }
}

.site-label .call-to-action {
  position: relative;

  z-index: 2;

  font-weight: bold;
  font-size: ms(3);
  font-family: 'Montserrat', sans-serif;

  text-align: right;
  text-decoration: none;
  text-transform: lowercase;

  color: palette('white');

  @media screen and (min-width: breakpoint('tablet')) {
    font-size: ms(4);
  }

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(5);
  }

  & span {
    font-weight: 900;

    color: palette('header', 'yellow');
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /* This way it could be display flex or grid or whatever also. */

  display: block;
  z-index: 100;
  /* Probably need media queries here */

  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 100%;
  /* If known, negative margins are probably better (less chance of blurry text). */
  /* margin: -200px 0 0 -200px; */

  background: white;
  /* Use this for centering if unknown width/height */

  transform: translate(-50%, -50%);

  box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
}

.closed {
  display: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 50;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}

.modal .close-button {
  position: absolute;
  top: 10px;
  right: 10px;

  z-index: 1;

  width: 1em;

  padding: 0.1em 0.1em;

  font-size: 1.3rem;
  line-height: 1;

  text-align: center;

  color: white;

  background: black;

  border: 0;
}

#video a:link,
#video a:hover,
#video a {
  text-decoration: none;
}

.play-button {
  display: inline-block;
  display: block;

  padding-top: $leading * 0.5em;
  padding-right: $gutter * 0.5;
  padding-bottom: $leading * 0.5em;
  padding-left: $gutter;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;

  font-weight: font-weight('heading');
  font-size: ms(-1);

  text-transform: uppercase;
  white-space: nowrap;

  background-image: url('../assets/images/icons/play-video.png');
  background-position: 1em 45%;
  background-color: palette('shadow');

  border: 0;

  &:hover {
    background-color: palette('orange');
  }
}
