@use 'sass:math';
/* checkboxes and radio buttons
---------------------------------------------------------------------------- */
/**
 * All checkboxes and radio buttons as list-items
 * <li><label for="id">label</label> <input type="checkbox" id="id" /></li>
 */
fieldset ol,
fieldset ul {
  padding: 0;
  margin: 0;
}

.of-radios-and-checks {
  @include clearfix;

  display: flex;

  flex-wrap: wrap;

  margin-right: $gutter * -0.5;
  margin-left: $gutter * -0.5;

  font-size: ms(2);
  font-weight: 800;
  color: palette('white');

  .of-radios-and-checks__legend,
  .of-radios-and-checks__intro {
    display: block;

    width: 100%;

    color: inherit;
  }
}

.of-radios-and-checks button,
.of-radios-and-checks input {
  font-weight: inherit;

  &:hover,
  &:focus {
    outline: 0;
  }
}

.of-radios-and-checks__intro {
  font-size: ms(0);
  font-weight: normal;
}

.of-radios-and-checks .input-wrapper {
  display: block;

  flex-grow: 1;

  float: left;
  width: 33.33333%;
  padding-right: $gutter * 0.5;
  padding-left: $gutter * 0.5;
  margin-bottom: $gutter;
  overflow: hidden;

  white-space: nowrap;
  list-style-type: none;

  &::before {
    content: none;
  }

  @media (max-width: 350px) {
    padding-right: $gutter * 0.2;
    padding-left: $gutter * 0.2;
    margin-bottom: $gutter * 0.3;
  }
}

.of-radios-and-checks .input-wrapper--full-width {
  width: 100%;
}

.of-radios-and-checks .has-real-value {
  position: relative;

  float: none;
  width: 100%;
  padding-top: $leading * 0.3em;
  padding-bottom: $leading * 0.3em;
  margin-right: $gutter * 0.5;
  margin-left: $gutter * 0.5;

  color: palette('text', 'dark');

  background-color: palette('white');
  border-radius: $rounded-corner;
}

.of-radios-and-checks label {
  position: static;

  display: flex;

  flex-wrap: wrap;

  align-content: flex-end;
  justify-content: center;

  height: 100%;
  padding-top: $leading * 0.6rem;
  padding-right: $gutter * 0.25;
  padding-bottom: $leading * 0.6rem;
  padding-left: $gutter * 0.25;

  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-align: center;
  white-space: nowrap;

  cursor: pointer;

  background-color: palette('purple');
  border-radius: $rounded-corner;

  @media (max-width: 500px) {
    padding: 1rem 0;

    font-size: ms(0);
  }

  @media (max-width: 400px) {
    font-size: ms(0);
  }
}

.of-radios-and-checks label:hover {
  background-color: palette('gray', 'dark');
}

.of-radios-and-checks :checked + label {
  background-color: palette('gray', 'dark');
}

.of-radios-and-checks label strong {
  display: block;

  width: 100%;
  overflow: hidden;

  font-size: ms(0);
  line-height: 0.9;
  text-overflow: ellipsis;
  white-space: normal;
}

.of-radios-and-checks label small {
  align-self: center;
}

.has-real-value label {
  display: inline;

  padding: 0;
  /* stylelint-disable-next-line declaration-no-important */
  background-color: transparent !important;

  &:hover,
  &:focus {
    color: inherit;

    background-color: transparent;
  }
}

.has-real-value input {
  padding-top: 0;
  margin-bottom: 0;
}

.has-real-value [type='text'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  color: inherit;
  color: transparent;

  background: transparent;

  &::selection {
    color: transparent;

    background: transparent;
  }
}

.has-real-value [type='button'] {
  position: absolute;
  top: $leading * 0.3em;
  right: $gutter * 0.5;
  z-index: 2;

  padding-right: $gutter * 0.5;
  padding-left: $gutter * 0.5;

  color: palette('white');

  background-color: palette('gray');
  border: 0;
}

[type='checkbox'],
[type='radio'] {
  display: none;

  &:hover {
  }

  &:focus {
    outline-style: auto; /* 4 */
  }
}

[type='radio'] {
  &:indeterminate {
  }

  &:checked {
  }
}

[type='checkbox'] {
  &:checked {
  }
}

[disabled] + label,
:disabled + label {
  color: palette('disabled', 'foreground');

  cursor: default;
}

.checkbox-custom {
  @include clearfix;
  padding-right: 0.9375rem;

  color: palette('white');
}

.checkbox-custom [type='checkbox'] {
  display: inline-block;
}

#user-data-payment ul {
  width: 100%;

  @media screen and (min-width: breakpoint('tablet')) {
    @include inline-block-wrapper;
    margin-right: math.div($gutter, -4);
    margin-left: math.div($gutter, -4);
  }
}


#user-data-payment li {
  display: block;

  padding-top: math.div($gutter, 4);
  padding-bottom: math.div($gutter, 4);
  margin: 0;

  font-size: ms(0);

  @media screen and (min-width: breakpoint('tablet')) {
    @include inline-block-item;
    width: 50%;
    padding-right: math.div($gutter, 4);
    padding-left: math.div($gutter, 4);
  }

  &::before {
    content: none;
  }
}

#user-data-payment .payment-type label {
  position: static;

  display: block;

  padding-top: $leading * 0.4rem;
  padding-bottom: $leading * 0.4rem;

  font-size: inherit;
  font-weight: inherit;
  color: palette('gray', 'dark');
  text-align: center;
  white-space: nowrap;

  background-color: palette('white');
  border-radius: $rounded-corner;
}

#user-data-payment ul label:hover {
  color: palette('white');

  background-color: palette('gray', 'dark');
}

#user-data-payment ul :checked + label {
  color: palette('white');

  background-color: palette('gray', 'dark');
}

#user-data-payment .payment-type label:hover {
  color: palette('gray', 'light');

  background-color: palette('gray', 'dark');
}

@mixin simple-check-or-radio {
  $stroke: 2px;
  $rounded-corner: 2px;

  .simple-check-or-radio__list {
    margin: 0;

    font-weight: inherit;
  }

  .simple-check-or-radio__item {
    display: block;

    width: 100%;
  }

  .simple-check-or-radio__input {
    display: inline-block;

    width: $gutter * 0.5;
    height: $gutter * 0.5; /* 3 */

    line-height: $gutter * 0.5; /* 3 */
    text-align: center;
    vertical-align: baseline;

    border-color: currentcolor;
    border-style: solid;
    border-width: $stroke;
    border-radius: $rounded-corner;

    appearance: none;

    &:checked {
      position: relative;

      &::after {
        position: absolute;
        top: $stroke;
        right: $stroke;
        bottom: $stroke;
        left: $stroke;

        width: auto;
        height: auto;

        content: '';

        background-color: currentcolor;
      }
    }
  }

  .simple-check-or-radio__label {
    position: static;

    display: inline;

    max-width: none;

    font-weight: inherit;
    color: inherit;

    background-color: transparent !important;

    @include on-event {
      color: inherit;

      background-color: transparent !important;
    }
  }
}


#user-data-payment {
  @include simple-check-or-radio;
}
