.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5rem;
  margin: 0;

  background-color: palette('blue');

  transition-duration: 0.3s, 1s;
  transition-property: background-color, height;

  @media (min-width: breakpoint('tablet')) {
    .home__header & {
      background-color: transparent;
    }
  }
}

.menu-container {
  @include clearfix;

  position: relative;

  max-width: $max-width;
  padding-right: $gutter;
  padding-left: $gutter;
  margin-right: auto;
  margin-left: auto;
}

.main-menu.animate {
  padding-top: 0;

  background-color: palette('blue');
}

.brand-wrap {
  float: left;
  max-width: 100%;
}

.logo-campaign {
  @include image-replacement;

  display: block;

  min-width: 213px;
  height: $leading * 2rem;
  min-height: 39px;

  background-image: url('../assets/images/icons/logo__slogan--negative.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  transition-duration: 0.8s;
  transition-property: background-size;
}

.animate .logo-campaign {
  background-size: auto 44px;
}

.donate-nav {
  color: palette('white');
}

.donate-nav a {
  width: 5em;
  padding-top: $gutter * 0.2;
  padding-bottom: $gutter * 0.2;
  margin-right: auto;
  margin-left: auto;

  background-color: palette('orange');
  border: 2px solid palette('white');
  border-radius: 10px;

  &:hover,
  &:link:focus,
  &:focus,
  &:active {
    color: palette('blue', 'base');
    text-decoration: none;

    background-color: palette('white');
    border-color: palette('white');
  }
}

.menu-wrap {
  max-height: 0;
  overflow: hidden;

  opacity: 0;

  transition-duration: 0.6s;
  transition-property: max-height;

  &.show {
    position: absolute;
    top: $menu-height;
    right: 0;
    left: 0;

    display: block;

    width: 100%;
    max-height: auto;
    padding-top: 1em;
    padding-bottom: 1.5em;
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    background-color: palette('blue');
    opacity: 9;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    position: absolute;
    top: 50%;
    right: 0;

    max-height: 100%;
    margin-top: 0.25em;
    overflow: hidden;

    text-align: center;

    opacity: 1;

    transition-property: none;
    transform: translateY(-50%);
  }
}

.main-menu button {
  display: block;

  @media screen and (min-width: breakpoint('tablet')) {
    display: none;

    outline: none;
  }
}

.main-menu li {
  font-size: 1.09375rem;

  transition-duration: 0.6s;
  transition-property: font-size;
}

.main-menu.animate li {
  font-size: ms(0);
}

.menu-item {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin: auto;

  @media (min-width: breakpoint('tablet')) {
    @include inline-block-item($align: 'top', $font-size: 1rem);

    padding-right: 1em;
    padding-left: 1em;

    vertical-align: middle;
  }
}

button.mobile-button {
  position: absolute;
  top: 50%;
  z-index: 2;

  float: left;
  width: 40px;
  height: 40px;

  cursor: pointer;

  background-color: transparent;

  transform: translateY(-50%);
}

button.mobile-button span {
  display: block;

  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;

  border-bottom: solid 2px palette('white');
}
