@use 'sass:math';

.donation-form h2 {
  font-size: ms(3);
  color: palette('white');
}

.home__donate .head-steps {
  margin-bottom: 0;

  :first-child {
    margin-bottom: 0;

    font-size: ms(0);
    font-weight: 800;
  }
}

.head-steps li {
  margin-bottom: 0.5em;

  font-weight: 800;
}

.instructions {
  margin-bottom: 0.5em;

  font-size: ms(0);
  font-weight: 800;
}

.certiface-link {
  position: absolute;
  left: 50%;

  transform: translateX(-50%);
}

.payment-confirmation-message {
  font-size: ms(1);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.payment-final-message {
  font-size: ms(1);
  text-align: center;
}

.chosen-value-title {
  display: inline-block;

  margin-bottom: 0;

  font-size: ms(3);
  color: palette('white');

}

.donation-form-title {
  @include inline-block-wrapper;
}

.donation-form-title h2 {
  @include inline-block-item;

  padding-right: 0.5em;
  margin-bottom: 0;

  font-size: ms(3);
  vertical-align: baseline;

  border-radius: $rounded-corner;

  &:last-child {
    padding-top: $gutter * 0.5;
    padding-right: $gutter * 0.5;
    padding-bottom: $gutter * 0.5;
    padding-left: $gutter * 0.5;

    white-space: nowrap;

    background-color: palette('orange');
  }

}

#final-message-payment {
  text-align: center;

  .donation-nav--rewind {
    float: none;

    font-size: ms(0);

    @media screen and (min-width: breakpoint('phablet')) {
      margin-top: 0.5em;

      font-size: ms(1);
    }
  }
}


.form-wrapper {
  @media screen and (min-width: breakpoint('tablet')) {
    @include inline-block-wrapper;
    margin-right: math.div($gutter, -4);
    margin-left: math.div($gutter, -4);
  }

}

.form-wrapper-right {
  @include inline-block-wrapper;
  margin-right: math.div($gutter, -4);
  margin-left: math.div($gutter, -4);

  text-align: right;
}

.input-wrapper.half {
  display: block;

  padding: 0;
  margin: 0;

  font-size: 1em;

  @media screen and (min-width: breakpoint('tablet')) {
    @include inline-block-item;
    width: 50%;
    padding-right: math.div($gutter, 4);
    padding-left: math.div($gutter, 4);
  }
}

.input-wrapper.triple {
  display: block;

  padding: 0;
  margin: 0;

  font-size: 1em;

  @media screen and (min-width: breakpoint('tablet')) {
    @include inline-block-item;
    width: 33%;
    padding-right: math.div($gutter, 4);
    padding-left: math.div($gutter, 4);
  }
}
