.pix-qrcode {
  display: block;

  aspect-ratio: 1 / 1;
  margin-right: auto;
  margin-left: auto;

  background: palette('white');
}

button[data-pix] {
  display: block;

  margin-right: auto;
  margin-left: auto;

  background-color: palette('gray', 'base');
}
