@use 'sass:math';

@mixin progress-bar-bg {
  &::-webkit-progress-bar {
    @content;
  }

  @content;
}

@mixin progress-bar-fg {
  &[value]::-moz-progress-bar {
    @content;
  }

  &[value]::-webkit-progress-value {
    @content;
  }

  > div {
    @include hide-text;

    display: inline-block;

    height: 100%;
    max-width: 100%;

    @content;
  }
}

progress,
[role='progressbar'] {
  @include inline-block-wrapper;
  @include progress-bar-fg {
    // sass-lint:disable-line mixins-before-declarations
    background-color: palette('progress');
  }
  @include progress-bar-bg {
    // sass-lint:disable-line mixins-before-declarations
    background-color: palette('progress', 'background');
  }

  display: block;

  width: 100%;
  height: math.div($leading, 2) * 1.5rem;

  color: palette('progress');

  background-color: palette('progress', 'background');
  // Get rid of default border in Firefox.

  border: 0;

  appearance: none;
}
