[data-candidate='boulos'] {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  legend,
  caption,
  details > summary {
    color: palette('boulos', 'purple');
  }

  thead th,
  thead td,
  tfoot th,
  tfoot td {
    background-color: palette('boulos', 'blue');
  }

  .of-radios-and-checks label {
    background-color: palette('boulos', 'purple');

    &:hover {
      background-color: palette('boulos', 'orange');
    }
  }

  .of-radios-and-checks :checked + label {
    background-color: palette('boulos', 'orange');
  }

  .site-header {
    min-height: 600px;

    color: palette('white');

    background-color: #150230;
    background-image: url('../assets/boulos/backgrounds/capa-fundo-very-small.jpg');
    background-position: right bottom;
    background-size: 100% auto;

    @media screen and (min-width: breakpoint('phablet')) {
      min-height: 710px;

      background-image: url('../assets/boulos/backgrounds/capa-fundo-small.jpg');
      background-position: 0 0;
      background-size: cover;
    }

    @media screen and (min-width: breakpoint('tablet')) {
      background-image: url('../assets/boulos/backgrounds/capa-fundo-medium.jpg');
    }

    @media screen and (min-width: breakpoint('desktop')) {
      min-height: 720px;

      background-image: url('../assets/boulos/backgrounds/capa-fundo.jpg');
    }
  }

  .site-header__image img {
    @media screen and (min-width: breakpoint('tablet')) {
      object-position: right bottom;
    }

    @media screen and (min-width: 1500px) {
      object-position: 75% 100%;
    }
  }

  .logo-campaign img {
    width: 120px;
    height: auto;
  }

  .animate .logo-campaign img {
    width: auto;
    height: 44px;
  }

  .main-menu {
    background-color: palette('boulos', 'blue');

    &.animate {
      background-color: palette('boulos', 'blue');
    }

    @media (min-width: breakpoint('tablet')) {
    }
  }

  .donate-nav a {
    background-color: palette('boulos', 'orange');

    &:hover,
    &:link:focus,
    &:focus,
    &:active {
      background-color: palette('boulos', 'blue');
    }
  }

  .site-label {
    max-width: 836px;
  }

  .site-label h1,
  .site-label h2 {
    color: palette('white');
  }

  .site-label h2 {
    @media screen and (min-width: breakpoint('desktop')) {
      margin-left: 0;

    }

    @media screen and (min-width: breakpoint('wide')) {
      margin-left: auto;

      text-align: center;
    }
  }

  .site-label .call-to-action {
    color: palette('white');

    span {
      color: palette('header', 'yellow');
    }
  }

  .subtitle a {
    &:hover {
      color: palette('boulos', 'orange');
    }
  }

  .home__intro {
    color: #ffffff;

    background-color: hsl(19deg, 76%, 51%);
  }

  .home__donate {
    color: palette('white');

    background-color: palette('boulos', 'blue');

    &::before {
      color: palette('boulos', 'blue');

      opacity: 0.35;

      @supports (mix-blend-mode: color) {
        mix-blend-mode: color;
        opacity: 1;
      }
    }
  }

  .donation-nav[class] {
    color: palette('boulos', 'orange');

    @include link-undercover {
      color: palette('boulos', 'orange');
    }

    &:hover {
      color: palette('boulos', 'purple-light');
    }
  }

  .donation-nav--forward[class] {
    color: palette('boulos', 'orange');
  }

  .home__donate h2 strong {
    background-color: palette('boulos', 'orange');
  }

  .donation-form-title h2 {
    &:last-child {
      background-color: palette('boulos', 'orange');
    }
  }

  [id='user-data-payment'] .payment-type label {
    background-color: palette('white');
  }

  [id='user-data-payment'] ul label:hover {
    color: palette('white');

    background-color: palette('boulos', 'orange');
  }

  [id='user-data-payment'] ul :checked+ label {
    color: palette('white');

    background-color: palette('boulos', 'orange');
  }

  [id='user-data-payment'] .payment-type label:hover {
    color: palette('white');

    background-color: palette('boulos', 'orange-light');
  }

  #campaign-progress .campaign-progress__link {
    color: palette('boulos', 'purple');

    &:hover:link {
      color: palette('white');
    }
  }

  .home__knowMore {
    &[class] {
      padding-bottom: 60%;
    }

    @media screen and (min-width: breakpoint('desktop')) {
      &[class] {
        padding-bottom: 480px;
      }
    }

    @media screen and (min-width: breakpoint('wide')) {
      &[class] {
      }
    }

    @media screen and (min-width: breakpoint('x-wide')) {
      &[class] {
        padding-bottom: 280px;
      }
    }
  }

  .knowMore__image.knowMore__image img {
    $bg: #f1f1f1;

    background-color: $bg;

    object-position: center bottom;

    @media screen and (min-width: breakpoint('desktop')) {
      object-fit: none;
    }

    @media screen and (min-width: breakpoint('wide')) {
      object-position: left bottom;
    }
  }

  .site-footer {
    color: palette('white');

    background-color: palette('boulos', 'blue');
  }

  .play-button {
    color: palette('white');

    background-color: palette('purple', 'dark');

    &:hover,
    &:focus {
      background-color: palette('boulos', 'orange-dark');
    }

    &:active {
      background-color: palette('purple', 'x-dark');
    }
  }

  .candidate-footer {
    color: #8500b4;
  }
}
