[data-candidate='poit'] {
  a {
    color: palette('poit', 'green');

    &:link,
    &:visited {
      color: palette('poit', 'green');
    }

    &:hover,
    &:focus {
      color: palette('poit', 'dark-green');
    }
  }

  /* stylelint-disable-next-line order/order */
  @include headings ('odd') {
    color: palette('poit', 'green');
  }

  @include headings ('even') {
    color: palette('poit', 'orange');
  }

  menu a,
  nav a {
    @include link-undercover;

    display: block;

    overflow: hidden;

    &:link {
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  .of-radios-and-checks label {
    background-color: palette('poit', 'green');
  }

  .site-header {
    min-height: 340px;

    color: palette('black');

    background-color: palette('white');
    background-image: url('../assets/poit/backgrounds/320x180.jpg');
    background-position: center bottom;
    background-size: cover;

    @media screen and (min-width: breakpoint('phone')) {
      background-image: url('../assets/poit/backgrounds/480x270.jpg');
    }

    @media screen and (min-width: breakpoint('phablet')) {
      min-height: 410px;

      background-image: url('../assets/poit/backgrounds/640x360.jpg');
    }

    @media screen and (min-width: breakpoint('tablet')) {
      min-height: 500px;

      background-image: url('../assets/poit/backgrounds/1024x576.jpg');
    }

    @media screen and (min-width: breakpoint('desktop')) {
      min-height: 640px;

      background-image: url('../assets/poit/backgrounds/1280x720.jpg');
    }

    @media screen and (min-width: breakpoint('wide')) {
      min-height: 720px;
    }
  }

  .site-header__image img {
    object-position: 75% bottom;

    @media screen and (min-width: breakpoint('desktop')) {
    }
  }

  button.mobile-button span {
    border-color: palette('black');
  }

  .logo-campaign > img {
    min-width: 77px;
    min-height: 39px;
  }

  .animate .logo-campaign > img {
    min-height: 44px;
  }

  .main-menu {
    background-color: palette('white');

    @media (min-width: breakpoint('tablet')) {
      background-color: transparent;
    }

    &.animate {
      color: palette('white');

      background-color: palette('poit', 'green');
    }
  }

  .menu-wrap.show {
    background-color: transparent;
  }

  .donate-nav a {
    background-color: palette('poit', 'orange');

    &:hover,
    &:link:focus,
    &:focus,
    &:active {
      background-color: palette('poit', 'dark-green');
    }
  }

  .site-label .call-to-action {
    color: palette('poit', 'dark-green');

    span {
      color: palette('poit', 'orange');
    }
  }

  .home__intro {
    color: palette('white');

    background-color: palette('poit', 'green');

    @include headings {
      color: inherit;
    }
  }

  .home__donate {
    color: palette('white');

    background-color: palette('poit', 'orange');
    background-repeat: repeat;
    background-size: auto;

    &::before {
      color: palette('poit', 'orange');

      opacity: 0.35;

      @supports (mix-blend-mode: color) {
        mix-blend-mode: color;
        opacity: 0.85;
      }
    }
  }

  #home__greetings {
    margin-top: auto;
    margin-bottom: $gutter;

    @media (min-width: breakpoint('tablet')) {
      margin-bottom: auto;
    }
  }

  .donation-nav[class],
  .donation-nav--forward[class] {
    color: palette('poit', 'green');

    &:link,
    &:visited {
      color: palette('poit', 'green');
    }

    &:hover,
    &:focus,
    &:active {
      color: palette('poit', 'dark-green');
    }
  }

  .donation-form-title h2:last-child,
  #user-data-payment ul :checked + label {
    background-color: palette('poit', 'green');
  }

  #user-data-payment .payment-type label {
    &:hover,
    &:focus {
      background-color: palette('poit', 'dark-green');
    }
  }

  .home__knowMore[class] {
    padding-bottom: 280px;

    @media screen and (min-width: breakpoint('phablet')) {
      padding-bottom: 420px;
    }

    @media screen and (min-width: 640px) {
      padding-bottom: 560px;
    }

    @media screen and (min-width: breakpoint('wide')) {
      padding-bottom: 900px;
    }

    @media screen and (min-width: breakpoint('x-wide')) {
      padding-bottom: 6rem;
    }
  }

  .knowMore__image.knowMore__image img {
    $bg: #f1f1f1;

    object-fit: none;
    object-position: center bottom;

    background-color: $bg;

    @media screen and (min-width: breakpoint('x-wide')) {
      object-position: left bottom;
    }
  }

  .site-footer {
    color: palette('white');

    background-color: palette('poit', 'green');
  }

  .play-button {
    background-color: palette('poit', 'orange');

    &:hover,
    &:focus,
    &:active {
      background-color: palette('poit', 'dark-green');
    }
  }

  progress,
  [role='progressbar'] {
    @mixin progress-bar-bg {
      &::-webkit-progress-bar {
        @content;
      }

      @content;
    }

    @mixin progress-bar-fg {
      &[value]::-moz-progress-bar {
        @content;
      }

      &[value]::-webkit-progress-value {
        @content;
      }

      > div {
        @include hide-text;

        display: inline-block;

        max-width: 100%;
        height: 100%;

        @content;
      }
    }

    /* stylelint-disable-next-line at-rule-empty-line-before */
    @include progress-bar-fg {
      background-color: palette('poit', 'orange');
    }

    @include progress-bar-bg {
      /* stylelint-disable-next-line at-rule-empty-line-before */
      background-color: palette('poit', 'dark-green');
    }

    /* stylelint-disable-next-line order/order */
    color: palette('poit', 'orange');

    background-color: palette('poit', 'dark-green');
  }

  #campaign-progress .campaign-progress__link {
    color: palette('poit', 'orange');
  }

  .nav-link-donations-wrap a {
    background-color: palette('white');
  }

  .candidate-footer {
    color: palette('poit', 'orange');
  }

  .site-footer a {
    @include link-undercover {
      text-decoration: underline;
    }
  }

  .notification {
    background-color: palette('poit', 'green');
  }
}
