h1,
h2,
h3,
h4,
h5,
h6,
legend,
caption,
details > summary {
  color: hsl(301deg, 59%, 35%);
}

.of-radios-and-checks label {
  background-color: hsl(301deg, 59%, 35%);
}

.site-header {
  height: 70vh;
  min-height: 480px;

  background-color: transparent;
  background-image: url('../../assets/boulos/backgrounds/capa-fundo-very-small.jpg');
  background-size: 100% auto;

  @media screen and (min-width: breakpoint('phablet')) {
    background-image: url('../../assets/boulos/backgrounds/capa-boulos-small.png'), url('../../assets/boulos/backgrounds/capa-fundo-small.jpg');
    background-position: right bottom, 0 0;
    background-size: 550px auto, cover;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    background-image: url('../../assets/boulos/backgrounds/capa-boulos-medium.png'), url('../../assets/boulos/backgrounds/capa-fundo-medium.jpg');
    background-size: 680px auto, cover;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    background-image: url('../../assets/boulos/backgrounds/capa-boulos.png'), url('../../assets/boulos/backgrounds/capa-fundo.jpg');
    background-size: 750px auto, cover;
  }
}

.logo-campaign {
  min-width: 213px;
  min-height: 39px;

  background-image: url('../../assets/boulos/icons/logo__slogan--negative.svg');

  .animate & {
    background-size: auto 44px;
  }
}

.main-menu {
  background-color: hsl(198deg, 100%, 44%);

  &.animate {
  }
}

.site-label .call-to-action {
  color: palette('white');

  span {
    color: palette('header', 'yellow');
  }
}

.home__intro {
  color: #ffffff;

  background-color: hsl(19deg, 76%, 51%);
}

.home__donate {
  color: palette('white');

  background-color: palette('blue');
  background-image: url('../../assets/boulos/backgrounds/bg-doacao-very-small.jpg');

  @media screen and (min-width: breakpoint('phablet')) {
    background-image: url('../../assets/boulos/backgrounds/bg-doacao-medium.jpg');
  }

  @media screen and (min-width: breakpoint('desktop')) {
    background-image: url('../../assets/boulos/backgrounds/bg-doacao.jpg');
  }

  &::before {
    content: none;
  }
}

.home__knowMore {
  $bg: #f1f1f1;

  background-color: $bg;
  background-image: url('../../assets/boulos/backgrounds/img-saibamais--320w.jpg');
  background-position: center bottom;
  background-size: 100% auto;

  &[class] {
    padding-bottom: 60%;
  }

  @media screen and (min-width: 480px) {
    background-image: url('../../assets/boulos/backgrounds/img-saibamais--480w.jpg');
  }

  @media screen and (min-width: 640px) {
    background-image: url('../../assets/boulos/backgrounds/img-saibamais--640w.jpg');
  }

  @media screen and (min-width: 1024px) {
    background-image: url('../../assets/boulos/backgrounds/img-saibamais--1024w.jpg');
    background-position: right bottom;
    background-size: auto;

    &[class] {
      padding-bottom: 560px;
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('../../assets/boulos/backgrounds/img-saibamais--1280w.jpg');
    background-position: left bottom, right bottom;

    &[class] {
      padding-bottom: 480px;
    }
  }
}

.site-footer {
  color: hsl(0, 0%, 100%);

  background-color: hsl(198deg, 100%, 44%);
}

.play-button {
  color: palette('white');

  background-color: palette('purple', 'dark');

  &:hover,
  &:focus {
    background-color: palette('orange', 'dark');
  }

  &:active {
    background-color: palette('purple', 'x-dark');
  }
}

.candidate-footer {
  color: #8500b4;
}
